video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.hero-container{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'PT Serif', serif;
}

.desc-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: -1;
    width: 30vw;
}
#name{
    padding: 3%;
    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
    border-radius: 2px;
}
#desc{
    color: white;
    border-top: 1px solid #c7c7cc;
    border-bottom: 1px solid #c7c7cc;
    width: 20vw;
    padding: 2%;
    margin: auto;
}
