*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.hdr{
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-family: 'Nunito', sans-serif;
}